@charset "UTF-8";

/* smartphone medios e pequenos */

@media screen and (min-width: 480px) { 
    #conteudo {
        width: 90vw;
    }
    p {
        font-size: 1em;
    }
    .servicios > p {
        font-size: 1.1em;
    }
    .servicios > h3 {
        font-size: 1.4em;
    }
    #container-sobrenos main > p {
        font-size: 1.1em;
    }

}

/* tables ou telas um pouco maiores */

@media screen and (min-width: 768px) {
    #conteudo {
        width: 75vw;
    }
    p {
        font-size: 1.2em;
    }
    .servicios > p {
        font-size: 1.3em;
    }
    .servicios > h3 {
        font-size: 1.5em;
    }
    #container-sobrenos main > p {
        font-size: 1.2em;
    }
}

/* laptop pequenos */

@media screen and (min-width: 1024px) {
    #conteudo {
        width: 70vw;
    }

    #imagens-sobren {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #fotosobren1, #fotosobren2 {
        width: 250px;
        height: 75%;
    }

}

/* desktops */

@media screen and (min-width: 1280px) {
    #conteudo {
        width: 80vw;
    }
    #container-servicios {
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    #servicio1, #servicio2, #servicio3 {
        border: none;
    }
    #fotomecanica {
        margin: auto;
        width: 75%;
        height: 75%;
    }
    
}